<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Sobre Mim</div>
            <p class="paragraph-text justify-text">
                Gosto de trabalhar com programação, esse é meu hobby e minha profissão. Eu amo a Internet e a forma como ela funciona ajudando pessoas e empresas, estou confortável trabalhando em aplicações web, frontend e backend. Trabalhei em aplicativos proprios para smartphones, com ReactNative e sistemas web com ReactJs. Tenho mais de 5 anos no mercado atuando como desenvolvedor em alguns projetos tive a oportunidade de atuar como lider e posso levar isso para todas as empresas que irei trabalhar.
            </p>
            <p class="paragraph-text justify-text">
                Promovo, apoio e uso software livre e de código aberto na medida do possível.
            </p>
            <p class="paragraph-text justify-text">
                Eu mantenho esse pequeno site em <a href="{{ DiksonRodrigues.github.io }}">github.io</a> onde escrevo sobre meus interesses recentes e outras atividades. Eu posto meus projetos de software em <a href="https://github.com/{{ site.github_username }}">GitHub</a>. Se quiser me contactar por e-mail: eoscreativetech@gmail.com
            </p>
        </div>
    </section>
</div>
