<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contato</div>
            <p class="paragraph-text justify-text">
                Eu adoraria ouvir de você! Estou aberto a colaborações, especialmente em projetos de código aberto. Só quer tomar um café e falar sobre estrelas, carros ou até jogar Volei? Incrível. 
            </p>
            <p class="paragraph-text justify-text">
                Sinta-se à vontade para escrever para mim para qualquer coisa: eoscreativetech@gmail.com 
                Posso demorar um dia pra responder, mais nunca passará disso !
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
                </span>
               
                <!-- <span class="hint--bottom bottom-link" aria-label="Reddit">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
                </span> -->
            </div>
        </div>
    </section>
</div>